# Python 虚拟环境 
venv/ 
env/ 
# 缓存文件 
__pycache__/ 
*.pyc 
# 环境变量文件 
.env 
# 系统文件（Mac） 
.DS_Store 
# 系统文件（Windows） 
Thumbs.db 
legged_gym_go2/legged_gym/scripts/logs/high_level_go2/
.vscode/launch.json
change-list.txt
AGENTS.md
